<!-- post_detail.html -->
{% extends 'flatpages/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
    <article class="media content-section">
    <div class="media-body">
    <div class="article-metadata">
    <small class="text-muted">{{ post.created_at|date:'d.m.Y H:i' }}</small>
    <small class="text-muted">({% trans 'author' %}: {{ post.author.user }})</small><br>
    {% if post.image %}
        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="media" alt="Аватар"
             style="max-width: 300px; max-height: 300px;">
    {% endif %}
    <h2 class="article-title">{{ post.title }}</h2>
    <p class="article-content">{{ post.content }}</p>
    <li><a href="{% url 'response-list' post_pk=post.pk %}">Все отзывы</a></li>
    {% if request.user.is_authenticated %}
            <li><a href="{% url 'response-create' pk=post.pk %}">Оставить отзыв</a></li>
        <form method="post" action="{% url 'subscribe' post.category.id %}">
            {% csrf_token %}
            <button type="submit">Подписаться на эту категорию</button>
        </form>
    {% endif %}
    {% if perms.guild.change_post %}
        <form action={% url 'post-update' post.pk %}>
            <div class="form-group">
                <button class="btn btn-secondary btn-sm mt-1 mb-1"
                        type="submit">{% translate 'Edit news' %}</button>
            </div>
        </form>
    {% endif %}
    <br>
    {% if perms.guild.delete_post %}
        <form action={% url 'post-delete' post.pk %}>
            <div class="form-group">
                <button class="btn btn-danger btn-sm mt-1 mb-1"
                        type="submit">{% translate 'Delete news' %}</button>
            </div>
        </form>
    {% endif %}
{% endblock %}
</div>
</div>
</article>