{% extends 'flatpages/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}
    <h2>Мои подписки</h2>
{% endblock title %}
{% block content %}
    {% if subscriptions %}
        <ul>
            {% for subscription in subscriptions %}
                <li>{{ subscription.category.name }}
                    {% if subscription.subscribed %}(подписан){% endif %}
                    {% csrf_token %}
                    - <a href="{% url 'unsubscribe' subscription.id %}"
                         class="btn-secondary btn-sm">Отписаться</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Вы не подписаны ни на одну категорию.</p>
    {% endif %}
{% endblock content %}