{% extends 'flatpages/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}
    <h2>Мои подписки</h2>
{% endblock title %}
{% block content %}
    {% if subscriptions %}
        <ul>
            {% for subscription in subscriptions %}
                <li>{{ subscription.category.name }}
                {% if subscription.subscribed %}(подписан)
                <form method="post" action="{% url 'unsubscribe' subscription.pk %}">
                    {% csrf_token %}
                    <input type="submit" value="Отписаться"/>
                </form>
                {% else %}(отписан)
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>Вы не подписаны ни на одну категорию.</p>
    {% endif %}
{% endblock content %}