<!-- profile_form.html -->
{% extends 'flatpages/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h2>Редактирование профиля</h2>
    {% if profile.user %}
        <p>{{ profile.user }}</p>
    {% endif %}
    {% if profile.avatar %}
        <img src="{{ profile.avatar.url }}" alt="{{ profile.user }}" class="media" alt="Аватар"
             style="max-width: 100px; max-height: 100px;">
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Сохранить изменения</button>
    </form>
{% endblock %}


{#{% block content %}#}
{#    <h2>Редактирование профиля</h2>#}
{#    {% if request.user.author.avatar %}#}
{#        <img src="{{ request.user.author.avatar.url }}" alt="Аватар" style="max-width: 100px; max-height: 100px;">#}
{#    {% endif %}#}
{#    <form method="post" enctype="multipart/form-data">#}
{#        {% csrf_token %}#}
{#        {{ user_form.as_p }}#}
{#        {{ author_form.as_p }}#}
{#        <button type="submit">Сохранить изменения</button>#}
{#    </form>#}
{#{% endblock %}#}